**/.DS_Store
**/.idea
**/node_modules/
**/.env
**/.env.test
**/docker-compose.yml
**/dump.rdb
**/test-report.xml
**/Dockerfile
**/*.spec.js
**/*.spec.js.map
**/*.spec.ts
**/test.sh
**/log/
**/yarn-error.log
**/npm-error.log

docs
git-hooks
**/.git/
**/*.md
**/coverage/
**/jestSetup

**/Pods/
**/*.xcodeproj/
**/*.xcassets/

bin/chamber-v*-darwin-amd64
docker/
**/deploy/
support/fillr/

pipeline
create
websites
**/__snapshots__/
**/__test_images__/
**/__image_snapshots__/
**/testData/
